.mgn-left-auto {
    margin-left: auto;
}



/* Prod Horizontal Card */

.dui-card-prod-hzntl {
    width: fit-content;
    height: auto;

    background: var(--dui-light-theme-bg);
    display: grid;

    grid-auto-columns: 4fr 4fr 3fr 3fr 3fr 3fr;
    grid-template-areas:
        'cardImg  cardImg  cardInfo     cardInfo     cardInfo     cardInfo'
        'cardImg  cardImg  cardDesc     cardDesc     cardDesc     cardDesc'
        'cardImg  cardImg  cardActions  cardActions  cardActions  cardActions';
}

.dui-card-prod-hzntl>.dui-badge {
    width: 5rem;
    border-radius: 0;
    top: 1rem;
    left: 1rem;
}

.dui-card-prod-hzntl__img-container {
    grid-area: cardImg;
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: grid;
}

.dui-card-prod-hzntl__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.dui-card-prod-hzntl__img-prod-status {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    background-color: var(--dui-light-theme-contrast-bg-opc-25pct);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dui-card-prod-hzntl__info {
    grid-area: cardInfo;
}

.dui-card-prod-hzntl__primary-text {
    color: var(--dui-light-theme-contrast-txt);
}

.dui-card-prod-hzntl__secondary-text {
    color: var(--grey-secondary);
}

.dui-card-prod-hzntl__actions {
    grid-area: cardActions;
    display: flex;

    min-height: 3.2rem;
    align-items: center;
}

.dui-card-prod-hzntl__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.dui-card-prod-hzntl__buttons>button {
    width: auto;
}

/* Prod Horizontal Card */